/* Enter your custom styles here */

.class0101{
    background-color: rgb(246,50,50);
    border-radius: 5px;
}
.class0102{
    background-color: rgb(248,109,109);
    border-radius: 5px;
}
.class0103{
    background-color: rgb(251,176,176);
    border-radius: 5px;
}
.class0201{
    background-color: rgb(255,207,144);
    border-radius: 5px;
}
.class0202{
    background-color: rgb(255,229,195);
    border-radius: 5px;
}
.class0203{
    background-color: rgb(255, 242, 225);
    border-radius: 5px;
}
.class0301{
    background-color: rgb(61,86,171);
    border-radius: 5px;
}
.class0302{
    background-color: rgb(107,128,202);
    border-radius: 5px;
}
.class0303{
    background-color: rgb(164, 178, 223);
    border-radius: 5px;
}